profiles {
  docker {
    docker.enabled = true
    process.container = 'agabriel/atac_bulk_processing_pepatac2:latest'
  }
  singularity {
    singularity.enabled = true
    singularity.autoMounts = true
    process.container = 'docker://agabriel/atac_bulk_processing_pepatac2:latest'
    singularity.runOptions = '--bind /scratch'
  }
}

process.executor = 'slurm'
process {
  errorStrategy = 'retry'
  maxRetries = { task.exitStatus == 137 ? 20 : 1 }
  memory = { task.exitStatus == 137 ? 10.GB * task.attempt : 10.GB }
}
timeline {
  enabled = true
  file = "nf-pipeline_info/ATAC_processing_timeline.html"
}

report {
  enabled = true
  file = "nf-pipeline_info/ATAC_processing_report.html"
}

trace {
  enabled = true
  file = "nf-pipeline_info/ATAC_processing_trace.txt"
}

dag {
  enabled = true
  file = "nf-pipeline_info/ATAC_processing_dag.html"
}
